<br/>
<br/>
<form action="/submit_rant" method="get">
    <input name="authenticity_token" type="hidden" value="token_value">
    <label>
        Tell me how you really feel...
    </label>
    <br/>
    <textarea class='input' name='text' type='text' rows="4" cols="30"></textarea>
    <br />
    <br />
    <button id='submit' class='btn btn-primary'>
        <strong>Rant</strong>
    </button>
</form>

<br />
<br />


<hr />
<div>
    <% @rants.reverse.each do |rant| %>
        <div id='rant'>
            <div>
                <h4 id='text'>
                    <%= rant.text %>
                </h4>
                <br/>
                <div id='relate-time'>
                    <button id='<%= rant.id %>' class='btn relate'>
                        Relate
                    </button>
                    <div id='time-div'>
                    <p id='time'>
                        <%= rant.created_at.asctime.to_s[0..-9] %>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    <br />
    <hr id='rant-split'/>
    <br />
    <% end %>
</div>

<script type="text/javascript">
    function onlyUnique(value, index, self) { 
        return self.indexOf(value) === index;
    }
    var relate = $('.relate')
    var related = [0]
    relate.on('click', function(){
        $(this).toggleClass('related')
        $.ajax({
            url: '/relate',
            method: 'post',
            data: {'related': related, 'id': $(this).attr('id')}

        })
        related.push($(this).attr('id'))
    })
</script>