<!DOCTYPE html>
<html>
<head>
  <title>Jagg</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class='container' id='yeild'>
        <%= yield %>
    </div>
</body>
</html>
